@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full h-full;
}
.hover-letter {
  transition: all 0.3s ease;
}

.hover-letter:hover {
  color: orange;
  transform: scale(1.2) translateY(-2px);
}
.content {
  padding-top: 80px;
}
header.fixed {
  height: 64px;
}

/* Dans votre fichier CSS global */
@media (max-width: 640px) {
  .content {
    margin-top: 64px; /* Ajustez cette valeur selon la hauteur de votre en-tête */
  }
}

